.pagina {
  display: flex;
    flex-direction: column;

    flex: 1;

    align-items: center;
}
.header {
  width: 100%;
  padding: 1rem 2rem;

  background: #274c77;
  color: #e7ecef;
}
.main {
  width: 100%;
  background: #414b51;
}
.footer {
  width: 100%;
  background: rgb(33, 30, 62);
  color: #e7ecef;
  text-align: center;
}