.login_overlay {
    position: fixed;
    z-index: 1000;
    inset: 0;

    background-color: rgba(11, 37, 69, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}
.login_box {
    
    display: flex;
    flex-direction: column;

    background-color: #134074;

    padding: 2rem;
    gap: 1rem;
    border-radius: 12px;
    width: 360px;

    position: relative;
}
.bottoniAccediRegistrati{
    display: flex;
    flex-direction: row;
}
.login_box form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.login_x {
    position: absolute;
    top: 1rem;
    right: 1rem;

    background-color: firebrick;
    color: #eef4ed;

    border-radius: 5px;
    border: none;

    font-size: 1.2rem;

    cursor: pointer;
}